<div class='gameboard'>
  <h1>add photo to your game</h1>

    <div class='photo_grid'>
          <% TempPhoto.all.each do |photo| %>

            <div class='poloroid'>
                <a href="/games/generate/<%= photo.name %>/<%= @game.id %>"><p><img src='<%= photo.photo_url%>'></p></a>
            </div>

        <% end %>
    </div>

</div>
