/** {
	border-width: 1px;
	border-color: red;
}*/

@font-face {
    font-family: 'colored_crayonsregular';
    src: url('colored_crayons.eot');
    src: url('colored_crayons.eot?#iefix') format('embedded-opentype'),
         url('colored_crayons.woff') format('woff'),
         url('colored_crayons.ttf') format('truetype'),
         url('colored_crayons.svg#colored_crayonsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'eraserregular';
    src: url('eraserregular.eot');
    src: url('eraserregular.eot?#iefix') format('embedded-opentype'),
         url('eraserregular.woff') format('woff'),
         url('eraserregular.ttf') format('truetype'),
         url('eraserregular.svg#eraserregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'chalkpatregular';
    src: url('chalkpat.eot');
    src: url('chalkpat.eot?#iefix') format('embedded-opentype'),
         url('chalkpat.woff') format('woff'),
         url('chalkpat.ttf') format('truetype'),
         url('chalkpat.svg#chalkpatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.gameboard {
  background: #009DE1;
  color: red;
  font-size: 30px;
  max-width: 810px;
  margin: auto;
  border-radius: 20px;
}

.poloroid {
	background-image: url('poloroid.png');
	background-size: contain;
	background-repeat: no-repeat;
  float: left;
  margin: 10px;
  padding: 5px;
  color: #E41B2D;
  line-height: 3px;
  font-size: 22px;
  width:228px;
  height:280px;
  box-shadow: 10px 10px 5px RGBA(12, 8, 48, .8);
}

.poloroid img {
	margin-top: 11px;
	margin-left: 0px;
  width: 210px;
  height: 215px;
  text-align: center;
}

.icon {
	 width: 40px;
	 height: 40px;
	
}

.clear_both{
	clear: both;
}

.clear_left{
	clear: left;
}

.clear_right{
	clear: right;
}

a:link {
	color: RGBA(246, 237, 206, 1);
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: RGBA(246, 237, 206, .5);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: RGBA(246, 237, 206, .5);
	text-decoration: none;
	font-weight: bold;
}

a.active {
	color: RGBA(246, 237, 206, 1);
	text-decoration: none;
	font-weight: bold;
}

p {
	color: RGBA(191, 220, 223, 1);
}

h1
{
	font-size: 30px;
	text-align: right;
	color: RGBA(191, 220, 223, 1);
}

body {
	color: white;
	font-size: 14px;
	/*border: 2px;*/
	font-family: arial, helvetica;
	/*background: RGBA(98, 98, 98, 1);*/
	background-image: url('fence.jpg');
	background-position: contain;
	background-attachment: fixed;
}

h2 {
	color: RGBA(191, 220, 223, 1);
	font-size: 48px;
	text-shadow: 1px 1px RGBA(246, 237, 206, 1);
}

h3 {
	font-size: 14px;
	color: RGBA(191, 220, 223, 1);
}

h4 {
	color: RGBA(191, 220, 223, 1);
}

#wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

#container {
	width: 950px;
	margin: auto;
}

h1, h5 {
  font-family: 'eraserregular';
	letter-spacing: 1px;
}

h5 {
	color: RGBA(191, 220, 223, .9);
	font-size: 100px;
	margin: 50px;
	letter-spacing: 5px;
	text-align: center;
}

#header {
	background-image: url('field.jpg');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	border: solid 4px RGBA(243, 251, 255, .2);
	border-radius: 10px;
	margin: 30px auto;
	padding: 10px;
	line-height: 10px;
}

#content{
	background: RGBA(20, 30, 85, .9);
	padding: 20px;
	float: left;
	border: solid 4px RGBA(243, 251, 255, .1);
	border-radius: 10px;
}

#content:hover{
	background: RGBA(20, 30, 85, .95);
	padding: 20px;
	float: left;
	border: solid 4px RGBA(243, 251, 255, .1);
	border-radius: 10px;
}

#sidebar{
	background: RGBA(70, 145, 150, .85);
	float: right;
	line-height: .5em;
	padding: 20px;
	border: solid 4px RGBA(243, 251, 255, .1);
	border-radius: 10px;
}

#sidebar img{
	padding: 10px 0;
}

.leftup {
	text-align: center;

}

article{
	/*border-color: black;*/
	width: 600px;
	text-align: right;
	min-height: 400px;
	color:  RGBA(70, 145, 150, .85);
}

.metadata{
	border-top: dotted;
	border-bottom: solid;
	border-width: 1px;
	border-color: RGBA(70, 145, 150, 1);
	line-height: 35px;
}


footer {
	padding: 30px;
	text-align: center;
	clear: both;
}

/*.socialicons {
	display: inline;
}*/

footer img {
	display: inline;	
}

