
@font-face {
    font-family: 'colored_crayonsregular';
    src: url('colored_crayons.eot');
    src: url('colored_crayons.eot?#iefix') format('embedded-opentype'),
         url('colored_crayons.woff') format('woff'),
         url('colored_crayons.ttf') format('truetype'),
         url('colored_crayons.svg#colored_crayonsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'eraserregular';
    src: url('eraserregular.eot');
    src: url('eraserregular.eot?#iefix') format('embedded-opentype'),
         url('eraserregular.woff') format('woff'),
         url('eraserregular.ttf') format('truetype'),
         url('eraserregular.svg#eraserregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'chalkpatregular';
    src: url('chalkpat.eot');
    src: url('chalkpat.eot?#iefix') format('embedded-opentype'),
         url('chalkpat.woff') format('woff'),
         url('chalkpat.ttf') format('truetype'),
         url('chalkpat.svg#chalkpatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.poloroid {
  background-image: url('poloroid.png');
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  margin: auto;
  margin: .5em;
  padding: .3em;
  color: #E41B2D;
  line-height: .3em;
  font-size: 2.2em;
  width: 9.1em;
  height: 11.1em;
  box-shadow: .3em .3em 1em RGBA(12, 8, 48, .8);
}

.poloroid img {
	margin-top: .37em;
	margin-left: 0;
  width: 8.5em;
  height: 8.7em;
  text-align: center;
}

.icon {
	 width: .4em;
	 height: .4em;
}

.clear_both{
	clear: both;
}

.clear_left{
	clear: left;
}

.clear_right{
	clear: right;
}

a:link {
	color: RGBA(246, 237, 206, 1);
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: RGBA(246, 237, 206, .5);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: RGBA(246, 237, 206, .5);
	text-decoration: none;
	font-weight: bold;
}

a.active {
	color: RGBA(246, 237, 206, 1);
	text-decoration: none;
	font-weight: bold;
}

p {
	color: RGBA(191, 220, 223, 1);
}

h1
{
	font-size: 2em;
	text-align: center;
	color: RGBA(191, 220, 223, 1);
}

body {
	color: white;
	font-size: 12px;
	font-family: arial, helvetica;
	background-image: url('fence.jpg');
	background-size: cover;
	background-attachment: fixed;
}

h2 {
	color: RGBA(191, 220, 223, 1);
	font-size: 4em;
	text-shadow: .1em .1em RGBA(0, 0, 0, 1);
}

h3 {
	font-size: 1.5em;
	color: RGBA(191, 220, 223, 1);
}

h4 {
	color: RGBA(191, 220, 223, 1);
  font-size: 2em;
}

#wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

#container {
	width: 70em;
  margin: auto;
}

h1, h5 {
  font-family: 'eraserregular';
  letter-spacing: .2em;
}

h5 {
  color: RGBA(100, 170, 180, .9);
  font-size: 8em;
  margin: .5em;
  letter-spacing: .1em;
  text-align: center;
}

p {
  font-size: 1.5em;
}

#header {
  background-image: url('field.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 1em;
  margin: .5em auto;
  padding: .7em;
  line-height: 0;
}

#content{
  height: 70em;
  overflow: auto;
	background: RGBA(70, 145, 150, .9);
	padding: 1.5em;
	float: left;
	border-radius: 1em;
  width: 49em;
}

#content:hover{
  height: 70em;
  overflow: auto;
	background: RGBA(70, 145, 150, .95);
	padding: 1.5em;
	float: left;
	border-radius: 1em;
  width: 49em;
}

#sidebar{
  height: 70em;
  overflow: auto;
	background: RGBA(19, 28, 83, .9);
	line-height: 1.5em;
	padding: 1.5em;
	border-radius: 1em;
	float: right;
  width: 14em;
}

.leftup {
	text-align: center;
}

article{
	/*border-color: black;*/
	width: 48em;
	text-align: left ;
	min-height: 30em;
	color:  RGBA(70, 145, 150, .85);
}

.metadata{
	border-top: dotted;
	border-bottom: solid;
	border-width: .15em;
	border-color: RGBA(19, 28, 83, 1);
	line-height: 2.5em;
}


.page_footer {
	text-align: center;
	clear: both;
}

/*.socialicons {
	display: inline;
}*/

footer img {
	display: inline;	
}

